<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Danh sách phim bộ</title>

    <link rel="shortcut icon" href="/web-assets/image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/web-assets/image/favicon.ico" type="image/x-icon">

    <!--Css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/web-assets/css/style.css">
</head>
<body>
<header class="bg-dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="index.html">Trang Chủ</a>
                    <a class="nav-link text-white" href="danh-sach-phim.html">Phim Bộ</a>
                    <a class="nav-link text-white" href="danh-sach-phim.html">Phim Lẻ</a>
                    <a class="nav-link text-white" href="danh-sach-phim.html">Phim Chiếu Rạp</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="py-4">
    <div class="container">
        <h2>Top 10 Bộ Phim Hành Động Sắp Chiếu Năm 2024</h2>
        <h6 class="text-body-secondary">by Motchill on July 12, 2023</h6>
        <p>Dù chưa ra mắt nhưng năm 2024 hứa hẹn sẽ có nhiều phim cổ trang bom tấn làm cho mọt phim đón đợi. Cùng Motchill điểm danh Top 10 Phim Hành Động Sắp Ra Mắt Năm 2024 bên dưới nhé.</p>
        <h4>1. HÀNH TINH CÁT (PHẦN 2) – DUNE 2</h4>
        <p>Hảnh tinh cát (Phần 2) tác phẩm nổi tiếng của tác giả Thắng. Nó kể về cuộc đời đầy sóng gió và hành trình tìm kiếm sự vinh quang của thắng
        </p>
        <ul>
            <li>Thể Loại: Hành động, Tình Cảm</li>
            <li>Đạo diễn: Tiến, thắng</li>
            <li>Diễn Viên:thắng</li>
            <li>Tổng Số Tập: 10tập</li>
            <li>Thời Lượng: 60 phút</li>
            <li>Năm Phát Hành: 2024</li>
        </ul>
        <h4>1. HÀNH TINH CÁT (PHẦN 2) – DUNE 2</h4>
        <p>Hảnh tinh cát (Phần 2) tác phẩm nổi tiếng của tác giả Thắng. Nó kể về cuộc đời đầy sóng gió và hành trình tìm kiếm sự vinh quang của thắng
        </p>
        <ul>
            <li>Thể Loại: Hành động, Tình Cảm</li>
            <li>Đạo diễn: Tiến, thắng</li>
            <li>Diễn Viên:thắng</li>
            <li>Tổng Số Tập: 10tập</li>
            <li>Thời Lượng: 60 phút</li>
            <li>Năm Phát Hành: 2024</li>
        </ul>
        <h4>1. HÀNH TINH CÁT (PHẦN 2) – DUNE 2</h4>
        <p>Hảnh tinh cát (Phần 2) tác phẩm nổi tiếng của tác giả Thắng. Nó kể về cuộc đời đầy sóng gió và hành trình tìm kiếm sự vinh quang của thắng
        </p>
        <ul>
            <li>Thể Loại: Hành động, Tình Cảm</li>
            <li>Đạo diễn: Tiến, thắng</li>
            <li>Diễn Viên:thắng</li>
            <li>Tổng Số Tập: 10tập</li>
            <li>Thời Lượng: 60 phút</li>
            <li>Năm Phát Hành: 2024</li>
        </ul>
        <h4>1. HÀNH TINH CÁT (PHẦN 2) – DUNE 2</h4>
        <p>Hảnh tinh cát (Phần 2) tác phẩm nổi tiếng của tác giả Thắng. Nó kể về cuộc đời đầy sóng gió và hành trình tìm kiếm sự vinh quang của thắng
        </p>
        <ul>
            <li>Thể Loại: Hành động, Tình Cảm</li>
            <li>Đạo diễn: Tiến, thắng</li>
            <li>Diễn Viên:thắng</li>
            <li>Tổng Số Tập: 10tập</li>
            <li>Thời Lượng: 60 phút</li>
            <li>Năm Phát Hành: 2024</li>
        </ul>
    </div>
</section>

<section class="bg-body-secondary py-4">
    <div class="container">
        <h5>BÌNH LUẬN</h5>
        <div class=" mb-3 w-100">
            <div class="d-flex justify-content-start align-items-center mt-3 ms-3">
                <div>
                    <div class="avt rounded-circle"></div>
                </div>
                <div>
                    <p class="ms-4">phim hay, rất tuyệt vời</p>
                </div>

            </div>
        </div>
        <div class=" mb-3 w-100">
            <div class="d-flex justify-content-start align-items-center mt-3 ms-3">
                <div>
                    <div class="avt rounded-circle"></div>
                </div>
                <div>
                    <p class="ms-4">phim hay, rất tuyệt vời</p>
                </div>
            </div>
        </div>
        <div class=" mb-3 w-100">
            <div class="d-flex justify-content-start align-items-center mt-3 ms-3">
                <div>
                    <div class="avt rounded-circle"></div>
                </div>
                <div>
                    <p class="ms-4">phim hay, rất tuyệt vời</p>
                </div>
            </div>
        </div>
        <h6 class="ms-5">để lại bình luận của bạn</h6>
        <div class=" mb-3 w-100 ">
            <div class="d-flex justify-content-start align-items-center mt-3 ms-3">
                <div>
                    <div class="avt rounded-circle"></div>
                </div>
                <div class="w-100">
                    <div class="input-group input-group-lg m-3">
                        <input type="text" class="form-control me-5" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="logo">
                <p class="text-white mt-3">Motchill - Trang web xem phim trực tuyến miễn phí chất lượng cao với giao diện trực quan, tốc độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim hay, luôn cập nhật phim nhanh, hứa hẹn sẽ đem lại phút giây thư giãn cho bạn.</p>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mt-2 mb-3">Phim mới</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mt-2 mb-3">Phim mới</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mt-2 mb-3">Phim mới</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>